@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
  height: 100%;
  font-family: 'Work Sans';
  background-color: #f9eeff;
}

.main-shadow
{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.back-image
{
  background-image: url('/background-pattern-desktop.svg');
}
